.contact-head h1 {
    margin-bottom: 1rem;
}

.contact-head p {
    margin: 1rem 0;
}

.contact-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
}

.contact {
    line-height: 1.6;
}

@media (max-width: 425px) {
    .contact-container {
        flex-direction: column;
        text-align: center;
    }
}